@font-face {
font-family: "AvenirNextLTPro-Regular";
src: url("fonts/AvenirNextLTPro-Regular.otf");
}

* {
  margin:0;
  padding:0;
}
select {
  display: block;
}
h1 {
  font-family: AvenirNextLTPro-Regular;
}
h2 {
  font-family: AvenirNextLTPro-Regular;
}
h3 {
  font-family: AvenirNextLTPro-Regular;
}
h4 {
  font-family: AvenirNextLTPro-Regular;
}
h5 {
  font-family: AvenirNextLTPro-Regular;
}
p {
  font-family: AvenirNextLTPro-Regular;
  font-size: 16px;
}
.row {
  margin-bottom:0;
}

nav {
  background-color: #9e8d8d;
  border-bottom: 1px black solid;
  box-shadow:none;
  height:40px;
}
nav.header-playlist {
  background-color: #9e8d8d;
  box-shadow:none;
  border-bottom: none;
  height:90px;
  color:white;
  padding: 50px 0 50px 50px;
  font-family: AvenirNextLTPro-Regular;
  font-weight: lighter;
  font-size: 24px;

}
.wrapper {
  height:500px;
  height:87vh
}
.navbar {
  margin-bottom: 0px;
}
.splash-left-column {
background-color: #f2f2f2;
height:inherit;
border:none;
text-align:center;
}
.choose-tracks-title {
  margin-top:30vh;
  color:purple;
}
.choose-tracks-btn {
  background-color: #2F4F4F;
  color:white;
  font-family: AvenirNextLTPro-Regular;
  text-transform: lowercase;
  border-radius: 5px;
  box-shadow: none;
}
.choose-tracks-btn:hover {
  background-color: purple;
  color:white;
  font-family: AvenirNextLTPro-Regular;
  text-transform: lowercase;
  font-weight: lighter;
}
.choose-tracks-btn:focus {
  background-color: darkgray;
  color:white;
  font-family: AvenirNextLTPro-Regular;
  text-transform: lowercase;
}
.splash-right-column {
  background-image: url('resources/fadedTrack.jpg');
  background-size: cover;
  height:inherit;
  border:none;
  text-align: center;
}
.pic-column {
  padding: 10px 0;
  max-width:185px;
  height:inherit;
  text-align: center;
  margin: auto;
}
.splash-single-pic {
  max-width:70%;
}
.scrolling-div-outer {
  overflow:scroll;
}
.scrolling-div-inner {
  background-color:;
  height:100px;
  padding: 10px 20px;
  width:1000px;
}
.scrolling-item {
  width:90px;
  height:100%;
  background-color: green;
  display: inline-block;
  margin: 0 15px;
}
.scrolling-images {
  max-width:100%;
}
.the-selected-album {
  width:inherit;
  text-align: center;
}
.the-selected-album-image {
  max-width: 160px;
}
.the-playlist-boxes {
  margin:20px;
}
.playlist-box {

}
.playlist-textarea {
  border: 2px solid #2F4F4F;
  height:200px;
  resize: none;
}
.the-buttons {
  text-align: center;
}

.footer {
  margin-bottom: 0px;
  height:40px;
  background-color: #9e8d8d;
  color: white;
  font-family: AvenirNextLTPro-Regular;
  padding: 10px 70px;
  font-size: 18px;
}
